.main {
  margin: 0;
}

.lightSection{
  height: 100vh;
  background-color: #EAE7DC;
  margin: 0;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.attentionText{
  font-size: 128px;
  font-weight: 500;
  color: #E85A4F;

  text-align: center;
  margin: 0;
}

.lightText{
  text-align: center;
  margin: 0;
  font-size: 64px;
  color: rgba(142, 141, 138, 0.2);
  font-weight: 400;
  margin-bottom: -70px;
  padding-top: 70px;
}

.normalLightText{
  text-align: center;
  margin: 0;
  font-size: 64px;
  color: rgba(142, 141, 138);
  font-weight: 100;
}

.bioSection{
  height: 60vh;
  background-color: #E85A4F;
  text-align: center;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.itemAboutMe{

  text-align: center;
  font-size: 64px;
  color: #EAE7DC;
  margin: 0;
  
}

.itemAboutMe2{

  margin: 0;
  text-align: center;
  font-size: 64px;
  color: #EAE7DC;
  font-weight: 100;
}


.contactSection{
  height: 100vh;

  background-color: #818181;
  margin: 0;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.contactText1{
  color: #E85A4F;
  font-size: 96px;
  text-align: center;
  margin: 0;
}

.contactText2{
  color: white;
  font-size: 64px;
  text-align: center;
  margin: 0;
}

.contactText3{
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.ga{
  font-weight: 100;
  color: #EAE7DC;
  font-size: 40px;
  text-align: center;
  margin: 0;
  align-self: center;
  text-decoration:underline;
  margin: 0;
}
